*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
}
#section-home{
    background-color: palegreen;
}
#section-about{
    background-color:blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section-info{
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}
nav ul a{
    color: #ff0000;
}
