*{
    padding: 0;
    margin: 0;

}
.wrapper{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #6d9361;
    gap: 30px;
    padding-top: 30px;
    padding-left: 50px;
}
.moons{
    height: 220px;
    width: 250px;
    background-color: #dee8ce;
    border-radius: 6px;
    transition: 1s;
}
.moons h1{
    margin: 10px 15px;
}
.moons p {
    margin: 10px 15px;
}
.moons:hover{
    border-radius: 0;
    border: 4px;
    transition: 1s;
    transform: scale(1.1);
    /*width: 16%;*/
    /*height: 26%;*/
}
