body{
    background-color: aliceblue;
    background-image: url("https://plus.unsplash.com/premium_photo-1756131994915-c92a65718df0?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;



}
p{
    color:blue;
    /*font-size:32px;*/
    width: 30%;
    height: 50px;
    background-color: aqua;
    display: inline;
}
h1{
    color:red;
}
sub{
    font-size: 16px;
    color:brown;
}
span{
    /*font-size: 50px;*/
    color: blueviolet;
    width: 30%;
    height: 50px;
    background-color: aqua;
    display: inline-block;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
