*{
    margin: 0;
}
header,footer{
    height: 22vh;
    background: #D9D9D9;
}
main{
    display: flex;
}
aside{
    height: 56vh;
    width: 27vw;
    background: #C0BDBD;

}
section{
    height: 56vh;
    width: 46vw;
    background: #A4A4A4;
}

