body{
    background-image: url(https://images.unsplash.com/photo-1502691876148-a84978e59af8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;

    p,h1{
        background-color:rgba(247, 240, 237, 0.9);
        width: 60%;
        padding: 30px;
        margin-left:100px;
        margin-top:40px;
    }

}
