*{
    margin: 0;
    padding: 0;
}
body{
    background-color: wheat;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 15px 0;
}
.box{
    width:250px;
    height:300px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.box p{
    font-size: 25px;
    font-weight: 600;
}
.box img{
    width: 60%;
}
h1{
    text-align: center;
    padding: 60px 0;
}


