*{
    margin: 0;
}
nav{
    height: 5vh;
    background: #D9D9D9;
}
main {
    display: flex;
    height: 85vh;
}
.wrapper1{
   display: flex;
}
.left{
    height: 100%;
    width: 29vw;
    background: #A4A4A4;
}
.right{
    height: 100%;
    width: 31vw;
    background: #C1C1C1;
}
.top{
    width: 40vw;
    height: 42.793vh;
    background: #7F7A7A;
}
.bot{
    width: 40vw;
    height: 42.793vh;
    background: #6B6161;


}
footer{
    height: 10vh;
    background: #D9D9D9;
}
