@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.w-1070{
    width: 1070px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-family: "DM Sans", sans-serif;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header nav ul a {
    color: #696871;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height:normal;
    letter-spacing: -0.469px;
}
.header__active-link {
    color: #19191B;
    border-bottom: 2px solid #0000ff;

}
.header__button{
    width: 211.02px;
    height: 60px;
    border-radius: 10px;
    background-color: #FF7143;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.469px;

}
/*----------------------------hero--------------------------*/
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
}
.hero div h1{
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 75px;
    font-style: normal;
    line-height: 77px;
    letter-spacing: -2.5px;
}
.hero div p{
    color: #696871;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
    letter-spacing: -0.63px;
    margin: 30px 0 50px 0;
    width: 409px;
}
.hero button{
    width: 188.211px;
    height: 60px;
    border-radius: 10px;
    background: #5454D4;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: normal;
    letter-spacing: -0.53px;
    text-align: center;
    border: none;
}
/*||||||||||||||||||||||||||*/
.brands{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 212px 0 160px 0;
}
