p span{
    background-color: antiquewhite;
    margin-left: 50px;
    display: block;
}
p img{
    margin-left: 50px;
    background-attachment: fixed;
    max-width: 100%;
    max-height: 100%;
    width: 246px;
    height: 250px;
}
p{
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}

