*{
    margin: 0;
    padding: 0;
}
header, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
header{
    background: #8D8484;
}
footer{
    background: #BDBDBD;
}
main{
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 73vw;
    height: 60vh;
}
.Content1, .Content2, .Content3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.Content1{
    background: #776969;
}
.Content2{
    background: #643030;
}
.Content3{
    background: #441818;
}
aside{
    height: 30vh;
    width: 27vw;
}
.Spam1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #937575;
}
.Spam2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #644C4C;
}
