*{
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 300px;
    background-color: #fad294;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}
.box:hover{
    background-color: #505959;
    border: 5px solid #505959;
    border-radius: 60%;
    transition: 2s;
}

