*{
    margin: 0;
}
header,footer{
    height: 22vh;
    background: #D9D9D9;
}
main{
    display: flex;
}
aside{
    height: 56vh;
    width: 27vw;
    background: #C0BDBD;
}
.wrapper {
    height: 56vh;
    width: 46vw;
}
.top{
    width: 100%;
    height: 50%;
    background: #827878;
}
.bot{
    width: 100%;
    height: 50%;
    background: #B7ADAD;

}

